
.list-twig .page-header h2 {
    padding-bottom: 20px;
}

.list-twig .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 166px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.list-twig .twig {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.list-twig .thumbnail .link {
    padding: 5px;
    display: block;
    cursor: pointer;
}
