
.list-leaf .page-header h2 {
    padding-bottom: 20px;
}

.list-leaf .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 166px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.list-leaf .list-content {
    column-count: 3;
	column-fill: auto;
}

.list-leaf .leaf {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.list-leaf .leaf img {
    width: 100%;
}

.list-leaf .thumbnail .photo {
    height: 200px;
    background-size: cover;
    background-color: #FAFBFD;
    background-position: center;
    background-repeat: no-repeat;
}
