.menu-bar {
    flex-direction: column;
    display: flex;
    height: 100%;
    padding: 0px 30px;
    justify-content: space-between;
}

.menu-bar .link {
    cursor: pointer;
    text-align: center;
    background-color: #FFFFFF;
}

.menu-bar .link:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.menu-bar .add .cover {
    text-align: center;
}

.menu-bar .add .link {
    display: inline-block;
    margin: 30px auto;
    border-radius: 50%;
}

.menu-bar .add .glyphicon {
    color: #4cae4c;
    margin: 28px;
    font-size: 28px;
    line-height: 28px;
}

.menu-bar .glyphicon-leaf {
    font-size: 22px;
    line-height: 22px;
}

.menu-bar .list .cover {
    padding: 20px 0px;
}

.menu-bar .list .link {
    border-radius: 4px;
}

.menu-bar .link a {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}
