
.twig-page {
    position: relative;
    height: 100%;
}

.twig-page .heading {
    padding: 15px 0px;
}

.twig-page .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 100px;
    right: 0px;
    bottom: 77px;
    overflow: auto;
}

.twig-page .page-body .add-new {
    cursor: pointer;
    color: #449d44;
    text-align: right;
}

.twig-page .big-text {
    font-size: 24px;
}

.twig-page .new-leaf {
    font-size: 16px;
}

.twig-page .page-header h2 {
    cursor: pointer;
}

.twig-page .page-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.twig-page .modal-body .require {
    border-bottom: 2px solid red;
}

.twig-page .leaf-image {
    justify-content: space-around;
    height: 500px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: #DDD;
    background-repeat: no-repeat;
    background-position: center;
}

.twig-page .list-group {
    position: relative;
}

.twig-page .list-group-item {
    cursor: pointer;
    padding: 15px;
}

.twig-page .list-group-item .photo {
    height: 500px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.twig-page .modal {
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.twig-page .modal .content {
    position: absolute;
    width: 28%;
    top: 0px;
    right: 15%;
    bottom: 0px;
    overflow: auto;
    background: white;
}

.twig-page .modal-body .require {
    border-bottom: 2px solid red;
}

.twig-page .select-leaf .list-leaf {
    position: absolute;
    padding: 15px;
    left: 0;
    top: 344px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.twig-page .select-leaf .form-control {
    background-color: #fcf8e3;
}

.twig-page .has-feedback .glyphicon {
    color: #d9534f;
    cursor: pointer;
    font-weight: bold;
    pointer-events: auto;
}

.twig-page .select-leaf .leaf {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.twig-page .select-leaf .selected .thumbnail {
    background-color: #fcf8e3;
}

.twig-page .select-leaf .leaf-image {
    justify-content: space-around;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.twig-page .select-leaf .thumbnail .photo {
    height: 200px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
