
.leaf-page {
    position: relative;
    height: 100%;
}

.leaf-page .big-text {
    font-size: 24px;
}

.leaf-page .page-header h2 {
    cursor: pointer;
}

.leaf-page .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 100px;
    right: 0px;
    bottom: 77px;
    overflow: auto;
}

.leaf-page .page-body .type-group {
    margin: 15px 0px;
}

.leaf-page .page-body .leaf-image {
    justify-content: space-around;
    height: 500px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-color: #DDD;
    background-repeat: no-repeat;
    background-position: center;
}

.leaf-page .page-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.leaf-page .page-extend .modal {
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.leaf-page .page-extend .modal .content {
    position: absolute;
    width: 28%;
    top: 0px;
    right: 15%;
    bottom: 0px;
    overflow: auto;
    background: white;
}

.leaf-page .page-extend .modal-body .require {
    border-bottom: 2px solid red;
}

.leaf-page .page-extend .select-leaf .leaf {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.leaf-page .page-extend .has-feedback .glyphicon {
    color: #d9534f;
    cursor: pointer;
    font-weight: bold;
    pointer-events: auto;
}
