.tree-list .page-header h2 {
    padding-bottom: 20px;
}

.tree-list .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 166px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
}

.tree-list .page-body .link {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #fafafa;
}

.tree-list .page-body .link:hover {
    background-color: #FAFAFA !important;
}

.tree-list .page-body .link:nth-child(2n) {
    background-color: #FFFFFF;
}

.tree-list .page-body .link:nth-child(2n + 1) {
    background-color: #FAFBFD;
}
