
.planting-page {
    position: relative;
    height: 100%;
}

.planting-page .big-text {
    font-size: 24px;
}

.planting-page .page-header h2 {
    cursor: pointer;
}

.planting-page .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 92px;
    right: 0px;
    bottom: 77px;
    overflow: auto;
}

.planting-page .page-body .heading {
    padding: 15px 0px;
}

.planting-page .page-body .add-new {
    cursor: pointer;
    color: #449d44;
}

.planting-page .page-body .new-leaf {
    font-size: 16px;
}

.planting-page .page-body .twig-name {
    cursor: pointer;
}

.planting-page .page-body .list-group-item {
    cursor: pointer;
    padding: 15px;
}

.planting-page .page-body .list-group-item .photo {
    height: 500px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.planting-page .page-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.planting-page .page-footer .btn-info {
    margin-left: 10px;
}

.planting-page .page-extend .modal {
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.planting-page .page-extend .modal .content {
    position: absolute;
    width: 28%;
    top: 0px;
    right: 15%;
    bottom: 0px;
    overflow: auto;
    background: white;
}

.planting-page .page-extend .modal-body .require {
    border-bottom: 2px solid red;
}

.planting-page .page-extend .modal-body .has-feedback .glyphicon {
    color: #d9534f;
    cursor: pointer;
    font-weight: bold;
    pointer-events: auto;
}
