
.planting-page .select-twig .list-twig {
    position: absolute;
    padding: 15px;
    left: 0;
    top: 144px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.planting-page .has-feedback .glyphicon {
    color: #d9534f;
    cursor: pointer;
    font-weight: bold;
    pointer-events: auto;
}

.planting-page .select-twig .twig {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.planting-page .select-twig .selected .thumbnail {
    background-color: #fcf8e3;
}
