
.planting-page .select-leaf .list-leaf {
    position: absolute;
    padding: 15px;
    left: 0;
    top: 366px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.planting-page .select-leaf .form-control {
    background-color: #fcf8e3;
}

.planting-page .select-leaf .leaf {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

.planting-page .select-leaf .selected .thumbnail {
    background-color: #fcf8e3;
}

.planting-page .select-leaf .leaf-image {
    justify-content: space-around;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #eee;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.planting-page .select-leaf .thumbnail .photo {
    height: 200px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
