
.germinate-page {
    position: relative;
    height: 100%;
}

.germinate-page .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 92px;
    right: 0px;
    bottom: 77px;
    overflow: auto;
}

.germinate-page .page-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.germinate-page .title-num {
    font-size: 16px;
}

.germinate-page .leaf-group {
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.germinate-page .plant-content .panel {
    border-radius: 0px;
    box-shadow: none;
}

.germinate-page .plant-content .panel-heading {
    border-radius: 0px;
}
