span.glyphicon {
    cursor: pointer;
}

a {
    text-decoration: none !important;
}

/* common layout */
.layout {
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.layout .main {
    height: 100%;
    flex: 1;
    position: relative;
}

.layout .menu-block {
    position: relative;
    width: 15%;
    height: 100%;
    overflow: auto;
    background: #eee;
}

.layout .page {
    position: absolute;;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.layout .page-content {
    height: 100%;
    top: 0px;
    left: 0px;
    width: 66%;
    position: absolute;
    background-color: #fff;
}

.layout .page-extend {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 34%;
    height: 100%;
    background-color: #fafafa;
}

/* common modal */
.modal .modal-title {
    text-align: center;
}

.modal .thumbnail .caption {
    padding: 5px;
}
