
.field-page {
    position: relative;
    height: 100%;
}

.field-page .heading {
    padding: 15px 0px;
}

.field-page .page-body {
    position: absolute;
    padding: 15px;
    left: 0px;
    top: 96px;
    right: 0px;
    bottom: 77px;
    overflow: auto;
}

.field-page .page-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.field-page .list-group-item {
    cursor: pointer;
    padding: 15px;
}

.field-page .list-group-item .value {
    text-align: right;
}

.field-page .list-group-item .photo {
    height: 500px;
    background-color: #eee;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
